## READ IN ALL FILES

In [1]:
# IMPORT DEPENDENCIES
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime

In [2]:
# SET PATHS TO DATA
path_data1 = 'AusDetailedSupUse.csv'
path_data2 = 'AusEnergyIndicators.csv'
path_data3 = 'AusEnergyStocks.csv'
path_data4 = 'AusGrossPhysicalSupUse.csv'
path_data5 = 'DetailedSup.csv'
path_data6 = 'EmploymentStateGenderContract.csv'
path_data7 = 'NetSup20172018.csv'

In [3]:
# READ IN CSV FILES
detailed_supply1 = pd.read_csv(path_data1)

In [4]:
energy_indicators2 = pd.read_csv(path_data2)

In [5]:
energy_stocks3 = pd.read_csv(path_data3)

In [6]:
gross_physup4 = pd.read_csv(path_data4)

In [7]:
detailed_sup5 = pd.read_csv(path_data5)

In [8]:
gender6 = pd.read_csv(path_data6, low_memory=False)

In [9]:
netsup7 = pd.read_csv(path_data7)

## CLEANING CSV 1 -> AusDetailedSupUse.csv

In [10]:
detailed_supply1

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,"46040DO0004 Energy Account, Australia, 2017-18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 4.1 Detailed gross physical supply and u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,- nil or rounded to zero (including null cells),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3128,np not available for publication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3131,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Delete irrelevant columns and columns

In [11]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[0,1,2,3,4]])

In [12]:
detailed_supply1.head(1)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
5,Supply or Use,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,2003-04,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18

In [13]:
detailed_supply1 = detailed_supply1.rename(columns={
    "Australian Bureau of Statistics":"Supply or Use",
    "Unnamed: 1":"Input",
    "Unnamed: 2":"Commodity",
    "Unnamed: 3":"Measure or Industry division (ANZSIC)",
    "Unnamed: 4":"ANZSIC division code",
    "Unnamed: 5":"Industry subdivision",
    "Unnamed: 6":"ANZSIC subdivision code",
    "Unnamed: 7":"Unit",
    "Unnamed: 8":"2002-03",
    "Unnamed: 9":"2003-04",
    "Unnamed: 10":"2004-05",
    "Unnamed: 11":"2005-06",
    "Unnamed: 12":"2006-07",
    "Unnamed: 13":"2007-08",
    "Unnamed: 14":"2008-09",
    "Unnamed: 15":"2009-10",
    "Unnamed: 16":"2010-11",
    "Unnamed: 17":"2011-12",
    "Unnamed: 18":"2012-13",
    "Unnamed: 19":"2013-14",
    "Unnamed: 20":"2014-15",
    "Unnamed: 21":"2015-16",
    "Unnamed: 22":"2016-17",
    "Unnamed: 23":"2017-18"
})

In [14]:
detailed_supply1.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

,index,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
0,5,Supply or Use,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
1,6,Supply,Natural input,Black coal,Flows from the environment,NaN,NaN,NaN,PJ,"7,287",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
2,7,Supply,Natural input,Brown coal,Flows from the environment,NaN,NaN,NaN,PJ,732,...,752,759,737,745,645,625,678,635,584,473
3,8,Supply,Natural input,Coke,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
4,9,Supply,Natural input,Coal by-products,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,3127,- nil or rounded to zero (including null cells),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123,3128,np not available for publication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3124,3129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3125,3130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3126,3131,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[0,3121,3122,3123,3124,3125,3126]])

In [16]:
detailed_supply1

,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,2003-04,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
6,Supply,Natural input,Black coal,Flows from the environment,NaN,NaN,NaN,PJ,"7,287","7,535",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
7,Supply,Natural input,Brown coal,Flows from the environment,NaN,NaN,NaN,PJ,732,727,...,752,759,737,745,645,625,678,635,584,473
8,Supply,Natural input,Coke,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
9,Supply,Natural input,Coal by-products,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
10,Supply,Natural input,Briquettes,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3121,Use,End Use of Energy Products,Solar energy,Total use,NaN,NaN,NaN,PJ,3,3,...,9,12,17,21,27,29,34,38,42,49
3122,Use,End Use of Energy Products,Wind energy,Total use,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
3123,Use,End Use of Energy Products,Uranium,Total use,NaN,NaN,NaN,PJ,"4,311","4,497",...,"4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3124,Use,End Use of Energy Products,Residuals,Total use,NaN,NaN,NaN,PJ,"1,768","1,775",...,"2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"
3125,Use,Total Gross Use,Total,Total use,NaN,NaN,NaN,PJ,"37,024","37,491",...,"43,709","42,578","42,291","43,536","47,366","46,184","47,770","50,417","52,215","53,583"

In [17]:
detailed_supply1 = detailed_supply1.drop(columns=['ANZSIC division code', 'Industry subdivision', 'ANZSIC subdivision code'])

In [18]:
detailed_supply1

,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),Unit,2002-03,2003-04,2004-05,2005-06,2006-07,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
6,Supply,Natural input,Black coal,Flows from the environment,PJ,"7,287","7,535","8,055","8,141","8,632",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
7,Supply,Natural input,Brown coal,Flows from the environment,PJ,732,727,737,745,728,...,752,759,737,745,645,625,678,635,584,473
8,Supply,Natural input,Coke,Flows from the environment,PJ,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,Supply,Natural input,Coal by-products,Flows from the environment,PJ,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,Supply,Natural input,Briquettes,Flows from the environment,PJ,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3121,Use,End Use of Energy Products,Solar energy,Total use,PJ,3,3,3,3,6,...,9,12,17,21,27,29,34,38,42,49
3122,Use,End Use of Energy Products,Wind energy,Total use,PJ,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3123,Use,End Use of Energy Products,Uranium,Total use,PJ,"4,311","4,497","5,154","4,710","4,480",...,"4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3124,Use,End Use of Energy Products,Residuals,Total use,PJ,"1,768","1,775","1,854","1,960","2,041",...,"2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"
3125,Use,Total Gross Use,Total,Total use,PJ,"37,024","37,491","40,404","39,796","41,512",...,"43,709","42,578","42,291","43,536","47,366","46,184","47,770","50,417","52,215","53,583"

In [19]:
detailed_supply1 = detailed_supply1.replace('-', '0')

In [20]:
detailed_supply1.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')
detailed_supply1

,index,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),Unit,2002-03,2003-04,2004-05,2005-06,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
0,6,Supply,Natural input,Black coal,Flows from the environment,PJ,"7,287","7,535","8,055","8,141",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
1,7,Supply,Natural input,Brown coal,Flows from the environment,PJ,732,727,737,745,...,752,759,737,745,645,625,678,635,584,473
2,8,Supply,Natural input,Coke,Flows from the environment,PJ,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,Supply,Natural input,Coal by-products,Flows from the environment,PJ,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10,Supply,Natural input,Briquettes,Flows from the environment,PJ,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,3121,Use,End Use of Energy Products,Solar energy,Total use,PJ,3,3,3,3,...,9,12,17,21,27,29,34,38,42,49
3116,3122,Use,End Use of Energy Products,Wind energy,Total use,PJ,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3117,3123,Use,End Use of Energy Products,Uranium,Total use,PJ,"4,311","4,497","5,154","4,710",...,"4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3118,3124,Use,End Use of Energy Products,Residuals,Total use,PJ,"1,768","1,775","1,854","1,960",...,"2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"
3119,3125,Use,Total Gross Use,Total,Total use,PJ,"37,024","37,491","40,404","39,796",...,"43,709","42,578","42,291","43,536","47,366","46,184","47,770","50,417","52,215","53,583"

In [21]:
detailed_supply1 = detailed_supply1.drop(columns=['index'])

In [22]:
detailed_supply1

,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),Unit,2002-03,2003-04,2004-05,2005-06,2006-07,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
0,Supply,Natural input,Black coal,Flows from the environment,PJ,"7,287","7,535","8,055","8,141","8,632",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
1,Supply,Natural input,Brown coal,Flows from the environment,PJ,732,727,737,745,728,...,752,759,737,745,645,625,678,635,584,473
2,Supply,Natural input,Coke,Flows from the environment,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Supply,Natural input,Coal by-products,Flows from the environment,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Supply,Natural input,Briquettes,Flows from the environment,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,Use,End Use of Energy Products,Solar energy,Total use,PJ,3,3,3,3,6,...,9,12,17,21,27,29,34,38,42,49
3116,Use,End Use of Energy Products,Wind energy,Total use,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3117,Use,End Use of Energy Products,Uranium,Total use,PJ,"4,311","4,497","5,154","4,710","4,480",...,"4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3118,Use,End Use of Energy Products,Residuals,Total use,PJ,"1,768","1,775","1,854","1,960","2,041",...,"2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"
3119,Use,Total Gross Use,Total,Total use,PJ,"37,024","37,491","40,404","39,796","41,512",...,"43,709","42,578","42,291","43,536","47,366","46,184","47,770","50,417","52,215","53,583"

Export clean dataframe for analysis

In [23]:
detailed_supply1.to_csv('cleandata/sup_use_commodity.csv', index = False)

## CLEANING CSV 2

energy_indicators2.head(5)

In [ ]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[0,1,2]])

In [ ]:
# REMEMBER TO RESET DF INDEX

In [ ]:
energy_indicators2.head(7)

In [ ]:
energy_indicators2 = energy_indicators2.rename(columns={
    "Australian Bureau of Statistics":" ",
    "Unnamed: 1":"",
    "Unnamed: 2":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
    "":"",
})